.Container-footer {
  width: 100%;
  margin-top: 5rem;
  .Footer-1 {
    background: $primary;
    height: 6px;
  }
  .Footer-2 {
    height: 55px;
    background: #313131;
    .Logo-footer {
      margin-right: 1rem;
    }
    .Text {
      font-family: "Nunito Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 26px;
      color: #ffffff;
      padding-top: 0.5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .Logo-footer {
    display: none !important;
  }
}
