.Button-login {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;

  color: #ffffff;
}

.Hamburguer-btn {
  padding: 10px;
  .Line-1 {
    @include lines-hamburger;
    width: 19px;
  }
  .Line-2 {
    @include lines-hamburger;
    width: 13px;
  }
  .Line-3 {
    @extend .Line-1;
  }
}

@include media-breakpoint-down(sm) {
  .Button-login {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .Hamburguer-btn {
    display: none;
  }
}
